/* about.css */

/* Adjust the font size and text alignment for lead paragraphs */
.lead {
  font-size: 20px !important;
  text-align: justify;
}

/* Increase the font size for hero headings */
.hero-head {
  font-size: 70px;
}

/* Set a fixed width for the hero container, overriding default styles */
.hero-container {
  width: 1400px !important;
}

/* Arrange feature technology cards in a flex layout with space around */
.feature-technology {
  display: flex;
  justify-content: space-around;
  margin-top: 90px !important;
}

/* Style adjustments for individual cards in the feature technology section */
.card {
  border: none !important;
  border-radius: 20px !important;
  margin-bottom: 20px; /* Add some spacing between cards */
}

/* Adjust card title font size and center align */
.card-title {
  font-size: 30px !important;
  text-align: center;
}

/* Center align card text */
.card-text {
  text-align: center;
}

/* Style adjustments for team member circles */
.team-member-circle {
  text-align: center;
}

/* Style adjustments for team member images */
.team-member-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;

  /* Add drop shadow effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* You can adjust the values as needed */
}

/* Style adjustments for team member names */
.team-member-name {
  margin: 0;
  font-weight: bold;
}

/* Responsive adjustments for cards on smaller screens */
@media (max-width: 768px) {
  /* Stack cards vertically and center align on small screens */
  .feature-technology {
    flex-direction: column;
    align-items: center;
  }

  /* Adjust card width for smaller screens */
  .card {
    width: 100px;
  }

  /* Decrease the font size for tech-head on smaller screens */
  .tech-head {
    font-size: 25px;
  }
}
