/* styles.css */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* border: 2px solid black; */
  }
  
  .footer__left {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .footer__logo {
    width: 50px; /* Adjust the size as needed */
    margin-right: 10px;
  }
  
  .footer__right {
    display: flex;
    gap: 30px;
    /* border: 2px solid red; */
    margin-right: 50px;
  }

  
  .footer__right a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .footer-text{
    margin-top: 15px;
  }
  .social-icon{
    height: 30px;
  }
  .twitter-icon{
   
  }
  @media (max-width:650px) {
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer__right {
      display: flex;
      gap: 30px;
      /* border: 2px solid red; */
     margin-left: 60px
    }
  }